In [4]:
# Setting environment 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import math
import datetime as dt

In [14]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# Loading csv datafile
parking_citations = pd.read_csv("../data/parking-citations.csv")
parking_citations.head(10)

,Ticket number,Issue Date,Issue time,Meter Id,Marked Time,RP State Plate,Plate Expiry Date,VIN,Make,Body Style,Color,Location,Route,Agency,Violation code,Violation Description,Fine amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,ACUR,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0
5,1106226590,2015-09-15T00:00:00,19.0,NaN,NaN,CA,201507.0,NaN,CHEV,VN,GY,SAN PEDRO S/O BOYD,1A35W,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
6,1106500452,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201605.0,NaN,MAZD,PA,BL,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0
7,1106500463,2015-12-17T00:00:00,1710.0,NaN,NaN,CA,201602.0,NaN,TOYO,PA,BK,SUNSET/ALVARADO,00217,1.0,8070,PARK IN GRID LOCK ZN,163.0,99999.0,99999.0
8,1106506402,2015-12-22T00:00:00,945.0,NaN,NaN,CA,201605.0,NaN,CHEV,PA,BR,721 S WESTLAKE,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0
9,1106506413,2015-12-22T00:00:00,1100.0,NaN,NaN,CA,201701.0,NaN,NISS,PA,SI,1159 HUNTLEY DR,2A75,1.0,8069AA,NO STOP/STAND AM,93.0,99999.0,99999.0

In [15]:
# Total records in file
print("Total records:", parking_citations.count() ) 
# 8777868 Rows

Total records: Ticket number            8777868
Issue Date               8777326
Issue time               8775263
Meter Id                 2282593
Marked Time               292121
RP State Plate           8777103
Plate Expiry Date        7977827
VIN                        16309
Make                     8769060
Body Style               8768922
Color                    8773723
Location                 8777005
Route                    8712168
Agency                   8777317
Violation code           8777868
Violation Description    8776991
Fine amount              8771319
Latitude                 8777865
Longitude                8777865
dtype: int64

In [16]:
# parking_citations.dtypes
parking_citations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8777868 entries, 0 to 8777867
Data columns (total 19 columns):
Ticket number            object
Issue Date               object
Issue time               float64
Meter Id                 object
Marked Time              float64
RP State Plate           object
Plate Expiry Date        float64
VIN                      object
Make                     object
Body Style               object
Color                    object
Location                 object
Route                    object
Agency                   float64
Violation code           object
Violation Description    object
Fine amount              float64
Latitude                 float64
Longitude                float64
dtypes: float64(7), object(12)
memory usage: 1.2+ GB

In [17]:
# Renaming columns 
parking_citations=parking_citations.rename(index=str, \
    columns={"Ticket number": "Ticket_Number", "Issue Date": "Issue_Date", "Issue time": "Issue_Time",\
             "RP State Plate": "RP_State_Plate","Plate Expiry Date": "Plate_Expiry_Date", "Body Style": \
             "Body_Style", "Violation code":"Violation_Code", "Violation Description": "Violation_Desc", \
             "Fine amount": "Fine_Amount"})
parking_citations.head(5)

,Ticket_Number,Issue_Date,Issue_Time,Meter Id,Marked Time,RP_State_Plate,Plate_Expiry_Date,VIN,Make,Body_Style,Color,Location,Route,Agency,Violation_Code,Violation_Desc,Fine_Amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,NaN,NaN,CA,200304.0,NaN,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,NaN,NaN,CA,201512.0,NaN,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,NaN,NaN,CA,201503.0,NaN,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,NaN,NaN,CA,NaN,NaN,ACUR,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,NaN,NaN,CA,200316.0,NaN,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0

In [18]:
# Dropping Columns that have a very high % of missing valuesnot needed - Marked Time, VIN, Meter Id
print('Number of columns before :{}'.format(len(parking_citations.columns)))
parking_citations.drop(['Meter Id','Marked Time','VIN'], axis=1, inplace=True)
print('Number of columns after :{}'.format(len(parking_citations.columns)))
parking_citations.head(5)

Number of columns before :19
Number of columns after :16

,Ticket_Number,Issue_Date,Issue_Time,RP_State_Plate,Plate_Expiry_Date,Make,Body_Style,Color,Location,Route,Agency,Violation_Code,Violation_Desc,Fine_Amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
3,1104820732,2015-12-26T00:00:00,1515.0,CA,NaN,ACUR,PA,WH,100 WORLD WAY,2F11,2.0,000,17104h,NaN,6440041.1,1802686.2
4,1105461453,2015-09-15T00:00:00,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0

In [19]:
# Which columns have NaN values
print("Columns which has NaN Values:", parking_citations.columns[parking_citations.isna().any()].tolist())
# Count of null / NaN values in columns
print("\nCount of NaN Values in columns:\n", parking_citations.isna().sum())

Columns which has NaN Values: ['Issue_Date', 'Issue_Time', 'RP_State_Plate', 'Plate_Expiry_Date', 'Make', 'Body_Style', 'Color', 'Location', 'Route', 'Agency', 'Violation_Desc', 'Fine_Amount', 'Latitude', 'Longitude']

Count of NaN Values in columns:
 Ticket_Number             0
Issue_Date              542
Issue_Time             2605
RP_State_Plate          765
Plate_Expiry_Date    800041
Make                   8808
Body_Style             8946
Color                  4145
Location                863
Route                 65700
Agency                  551
Violation_Code            0
Violation_Desc          877
Fine_Amount            6549
Latitude                  3
Longitude                 3
dtype: int64

In [20]:
# Removing rows with missing data
parking_citations = parking_citations.dropna(how="any")
parking_citations.count()   # 7897409 rows

Ticket_Number        7897409
Issue_Date           7897409
Issue_Time           7897409
RP_State_Plate       7897409
Plate_Expiry_Date    7897409
Make                 7897409
Body_Style           7897409
Color                7897409
Location             7897409
Route                7897409
Agency               7897409
Violation_Code       7897409
Violation_Desc       7897409
Fine_Amount          7897409
Latitude             7897409
Longitude            7897409
dtype: int64

In [22]:
# Checking for duplicate ticket number
print("Number of tickets = ", parking_citations.Ticket_Number.count()) 
print("Number of unique tickets = ", parking_citations.Ticket_Number.nunique()) 
parking_citations.head(5)

Number of tickets =  7897409
Number of unique tickets =  7897409

,Ticket_Number,Issue_Date,Issue_Time,RP_State_Plate,Plate_Expiry_Date,Make,Body_Style,Color,Location,Route,Agency,Violation_Code,Violation_Desc,Fine_Amount,Latitude,Longitude
0,1103341116,2015-12-21T00:00:00,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
1,1103700150,2015-12-21T00:00:00,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0
2,1104803000,2015-12-21T00:00:00,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4
4,1105461453,2015-09-15T00:00:00,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0
5,1106226590,2015-09-15T00:00:00,19.0,CA,201507.0,CHEV,VN,GY,SAN PEDRO S/O BOYD,1A35W,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0

In [23]:
# Checking for Minimum and maximum Fine Amount

print("Minimum fine Amount: ", parking_citations["Fine_Amount"].min())
print("Maximum fine Amount: ", parking_citations["Fine_Amount"].max())

Minimum fine Amount:  10.0
Maximum fine Amount:  505.0

In [24]:
# List Column Names
parking_citations.columns.values

array(['Ticket_Number', 'Issue_Date', 'Issue_Time', 'RP_State_Plate',
       'Plate_Expiry_Date', 'Make', 'Body_Style', 'Color', 'Location',
       'Route', 'Agency', 'Violation_Code', 'Violation_Desc',
       'Fine_Amount', 'Latitude', 'Longitude'], dtype=object)

In [25]:
# Create New Columns (dummies)
parking_citations["Issue_Date"] = pd.to_datetime(parking_citations["Issue_Date"])
print("Shape before:", parking_citations.shape)

parking_citations["Year_Issue_Date"] = parking_citations["Issue_Date"].map((lambda x: x.year))
parking_citations["Month_Issue_Date"] = parking_citations["Issue_Date"].map((lambda x: x.month))
parking_citations["Day_Issue_Date"] = parking_citations["Issue_Date"].map((lambda x: x.day))
parking_citations["DayOfWeek_Issue_Date"] = parking_citations["Issue_Date"].dt.dayofweek

print("Shape after:", parking_citations.shape)
parking_citations.head(5)

Shape before: (7897409, 16)
Shape after: (7897409, 20)

,Ticket_Number,Issue_Date,Issue_Time,RP_State_Plate,Plate_Expiry_Date,Make,Body_Style,Color,Location,Route,Agency,Violation_Code,Violation_Desc,Fine_Amount,Latitude,Longitude,Year_Issue_Date,Month_Issue_Date,Day_Issue_Date,DayOfWeek_Issue_Date
0,1103341116,2015-12-21,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,2015,12,21,0
1,1103700150,2015-12-21,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,2015,12,21,0
2,1104803000,2015-12-21,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4,2015,12,21,0
4,1105461453,2015-09-15,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0,2015,9,15,1
5,1106226590,2015-09-15,19.0,CA,201507.0,CHEV,VN,GY,SAN PEDRO S/O BOYD,1A35W,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,2015,9,15,1

In [26]:
# Converting new columns from float to int
parking_citations["Year_Issue_Date"] = parking_citations["Year_Issue_Date"].astype(np.int64)
parking_citations["Month_Issue_Date"] = parking_citations["Month_Issue_Date"].astype(np.int64)
parking_citations["Day_Issue_Date"] = parking_citations["Day_Issue_Date"].astype(np.int64)
parking_citations["DayOfWeek_Issue_Date"] = parking_citations["DayOfWeek_Issue_Date"].astype(np.int64)

parking_citations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7897409 entries, 0 to 8777866
Data columns (total 20 columns):
Ticket_Number           object
Issue_Date              datetime64[ns]
Issue_Time              float64
RP_State_Plate          object
Plate_Expiry_Date       float64
Make                    object
Body_Style              object
Color                   object
Location                object
Route                   object
Agency                  float64
Violation_Code          object
Violation_Desc          object
Fine_Amount             float64
Latitude                float64
Longitude               float64
Year_Issue_Date         int64
Month_Issue_Date        int64
Day_Issue_Date          int64
DayOfWeek_Issue_Date    int64
dtypes: datetime64[ns](1), float64(6), int64(4), object(9)
memory usage: 1.2+ GB

In [27]:
parking_citations.head()

,Ticket_Number,Issue_Date,Issue_Time,RP_State_Plate,Plate_Expiry_Date,Make,Body_Style,Color,Location,Route,Agency,Violation_Code,Violation_Desc,Fine_Amount,Latitude,Longitude,Year_Issue_Date,Month_Issue_Date,Day_Issue_Date,DayOfWeek_Issue_Date
0,1103341116,2015-12-21,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,2015,12,21,0
1,1103700150,2015-12-21,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,2015,12,21,0
2,1104803000,2015-12-21,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4,2015,12,21,0
4,1105461453,2015-09-15,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,99999.0,99999.0,2015,9,15,1
5,1106226590,2015-09-15,19.0,CA,201507.0,CHEV,VN,GY,SAN PEDRO S/O BOYD,1A35W,1.0,4000A1,NO EVIDENCE OF REG,50.0,99999.0,99999.0,2015,9,15,1

In [15]:
# Checking Oldest and Latest Issue Date

print("Min Issue_Date:",min(parking_citations["Issue_Date"]))
print("Max Issue_Date:",max(parking_citations["Issue_Date"]))

Min Issue_Date: 2010-05-22 00:00:00
Max Issue_Date: 2019-01-22 00:00:00

In [28]:
# Checking Oldest and Latest Issue Year

print("Minimum Year: ", min(parking_citations["Year_Issue_Date"]))
print("Maximum Year: ", max(parking_citations["Year_Issue_Date"]))
      
parking_citations.Year_Issue_Date.unique()

Minimum Year:  2010
Maximum Year:  2019

array([2015, 2016, 2012, 2013, 2014, 2011, 2010, 2017, 2018, 2019])

In [29]:
# Cleaning Latitude and Longitude by replacing 99999.000 to NaN

parking_citations['Latitude'] = np.where(parking_citations['Latitude']==99999.000, np.nan, parking_citations['Latitude'])
parking_citations['Longitude'] = np.where(parking_citations['Longitude']==99999.000, np.nan, parking_citations['Longitude'])
print("Lat/Long with 99999.000 cleaned")

Lat/Long with 99999.000 cleaned

In [30]:
parking_citations.head(5)

,Ticket_Number,Issue_Date,Issue_Time,RP_State_Plate,Plate_Expiry_Date,Make,Body_Style,Color,Location,Route,Agency,Violation_Code,Violation_Desc,Fine_Amount,Latitude,Longitude,Year_Issue_Date,Month_Issue_Date,Day_Issue_Date,DayOfWeek_Issue_Date
0,1103341116,2015-12-21,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,01521,1.0,4000A1,NO EVIDENCE OF REG,50.0,NaN,NaN,2015,12,21,0
1,1103700150,2015-12-21,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,1C51,1.0,4000A1,NO EVIDENCE OF REG,50.0,NaN,NaN,2015,12,21,0
2,1104803000,2015-12-21,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,2R2,2.0,8939,WHITE CURB,58.0,6439997.9,1802686.4,2015,12,21,0
4,1105461453,2015-09-15,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,1.0,8069A,NO STOPPING/STANDING,93.0,NaN,NaN,2015,9,15,1
5,1106226590,2015-09-15,19.0,CA,201507.0,CHEV,VN,GY,SAN PEDRO S/O BOYD,1A35W,1.0,4000A1,NO EVIDENCE OF REG,50.0,NaN,NaN,2015,9,15,1

In [31]:
# Creating new column for latitude and longitude
# Transform coordinates from custom projection to lat long PyProj

import pyproj
# Coordinates in ft and false easting/northing in ft
x1,y1 = parking_citations['Latitude'].values, parking_citations['Longitude'].values
pm = '+proj=lcc +lat_1=34.03333333333333 +lat_2=35.46666666666667 +lat_0=33.5 +lon_0=-118 +x_0=2000000 +y_0=500000.0000000002 +ellps=GRS80 +datum=NAD83 +to_meter=0.3048006096012192 +no_defs'
x2,y2 = pyproj.transform(pyproj.Proj(pm,preserve_units = True), pyproj.Proj("+init=epsg:4326"), x1,y1)
parking_citations['NLatitude']=x2
parking_citations['NLongitude']=y2

print("Lan/long successfully transformed")

Lan/long successfully transformed

In [32]:
parking_citations.head(5)

,Ticket_Number,Issue_Date,Issue_Time,RP_State_Plate,Plate_Expiry_Date,Make,Body_Style,Color,Location,Route,...,Violation_Desc,Fine_Amount,Latitude,Longitude,Year_Issue_Date,Month_Issue_Date,Day_Issue_Date,DayOfWeek_Issue_Date,NLatitude,NLongitude
0,1103341116,2015-12-21,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,01521,...,NO EVIDENCE OF REG,50.0,NaN,NaN,2015,12,21,0,NaN,NaN
1,1103700150,2015-12-21,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,1C51,...,NO EVIDENCE OF REG,50.0,NaN,NaN,2015,12,21,0,NaN,NaN
2,1104803000,2015-12-21,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,2R2,...,WHITE CURB,58.0,6439997.9,1802686.4,2015,12,21,0,-118.401151,33.945212
4,1105461453,2015-09-15,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,...,NO STOPPING/STANDING,93.0,NaN,NaN,2015,9,15,1,NaN,NaN
5,1106226590,2015-09-15,19.0,CA,201507.0,CHEV,VN,GY,SAN PEDRO S/O BOYD,1A35W,...,NO EVIDENCE OF REG,50.0,NaN,NaN,2015,9,15,1,NaN,NaN

In [33]:
# Checking number of unique RP_State_Plate and displaying them

print("Number of Unique RP_State_Plate: ", parking_citations.RP_State_Plate.nunique())
print("\nUnique RP_State_Plate: ",parking_citations.RP_State_Plate.unique())

Number of Unique RP_State_Plate:  74

Unique RP_State_Plate:  ['CA' 'WA' 'NJ' 'CO' 'MA' 'TX' 'IN' 'MO' 'OK' 'NY' 'OR' 'NV' 'ND' 'AZ'
 'OH' 'KS' 'FL' 'TN' 'PA' 'IL' 'MN' 'UT' 'VT' 'WY' 'CT' 'GA' 'NC' 'AB'
 'IA' 'MD' 'SC' 'DE' 'ID' 'NM' 'LA' 'MI' 'MS' 'ME' 'SD' 'WI' 'NE' 'MT'
 'AR' 'AL' 'ON' 'VA' 'KY' 'HI' 'XX' 'BC' 'NH' 'VI' 'DC' 'AK' 'SA' 'CZ'
 'MX' 'RI' 'NB' 'WV' 'MB' 'FN' 'CN' 'US' 'PE' 'NS' 'QU' 'TT' 'AS' 'YU'
 'GU' 'NF' 'NW' 'VN']

In [37]:
# Checking which state plates have highest citations

df = parking_citations.groupby('RP_State_Plate')['RP_State_Plate'].count().sort_values(ascending=False).reset_index(name='count')
df.head()

# CA Plates have highest citation followed by NV, TX, AZ so it can be deduced that the drivers from these states
# are generally more prone to inviting parking tickets.

  RP_State_Plate    count
0             CA  7427251
1             NV    47752
2             TX    43379
3             AZ    37199
4             FL    36185

In [38]:
# Checking number of unique Body_Style and displaying them

print("Number of Unique Body_Style: ", parking_citations.Body_Style.nunique())
df = parking_citations.groupby('Body_Style')['Body_Style'].count().sort_values(ascending=False).reset_index(name='count')
df.head()

# Body_Style PA has highest citations

Number of Unique Body_Style:  178

  Body_Style    count
0         PA  6986246
1         PU   280040
2         VN   211716
3         TK   183708
4         CM   120705

In [40]:
# Displaying Make and the count of citations for each make in dataset

df = parking_citations.groupby('Make')['Make'].count().sort_values(ascending=False).reset_index(name='count')
df.head()

# TOYT has highest citations!

   Make    count
0  TOYT  1365890
1  HOND   918265
2  FORD   693813
3  NISS   570644
4  CHEV   540010

In [43]:
# Number of unique Violation Code and displaying them 

print("Number of Unique Violation_Code: ", parking_citations.Violation_Code.nunique())
print("\nUnique Violation_Code: ", parking_citations.Violation_Code.unique())

Number of Unique Violation_Code:  283

Unique Violation_Code:  ['4000A1' '8939' '8069A' '8070' '8069AA' '8069B' '5200A' '099' '8056E4'
 '8813B' '8069AP' '002' '8940' '007' '030' '5204A' '80714' '89391C'
 '225078C2' '8936' '013' '225078A' '018' '8069BS' '098' '010' '8061' '011'
 '8058L' '5204A-' '22502A' '80.70' '80.69AP+' '22511.57' '22507.8A'
 '80.73.2' '5200' '80.69AA+' '22500E' '22514' '80.61' '80.69.2' '80.56E4+'
 '80.58L' '88.13B+' '80.56E1' '88.03A' '22500I-' '22500H' '88.63B+'
 '80.69B' '80.69BS' '80.56E2' '80.69C' '21211B' '22500F' '80.71.4'
 '80.69A+' '86.06' '80.54H1' '80.71.3' '80.49+' '80.56E3' '22502E'
 '22500A' '80.66.1D' '22507.8C' '22500C' '86.03' '80.58.1' '22500B'
 '88.64A' '22500.1+' '88.53' '22500L-' '022' '014' '80732' '225001' '569'
 '8056E2' '8056E1' '024' '80.69.1A' '22522-' '22507.8B' '80.69.4' '8055A1'
 '570' '571' '225078C1' '22500L' '8049' '5200B' '22523A-' '22511.56' '019'
 '8709K' '006' '80713' '553' '89355C' '22500E#' '8056E3' '8069C' '22500D'
 '4462B' '8603' '8803A' '225078B' '6344K2' '89355B' '8709E' '80691A'
 '80692' '017' '80692*' '80692**' '80694**' '22507A' '80.74' '8051A'
 '8501' '80.73B2.' '8813A' '21113A+' '8938' '21113' '8056W' '80.69D' '555'
 '80.72' '22526' '22515' '8056E4#' '001' '80.75.1' '8053' '556' '22500F#'
 '8803' '80713*' '80714#' '031' '89391B' '8066D' '6344K7' '6344B14'
 '6344K8' '8709H' '80.69.1C' '008' '80661D' '80751' '80731' '80694'
 '80694*' '22500K' '557' '225118' '8061#' '8069C#' '8069A#' '558' '80691C'
 '85.01' '8754' '009' '8051' '87.55' '2251156B' '8946' '17104H' '17104C'
 '8709B' '87.54' '554' '22951' '5202' '22500G' '5201' '559' '22658'
 '8709A' '22523B-' '80725' '8935' '26710' '6344B16' '41525' '22505B'
 '8606' '8069BS#' '8073' '8940B' '045' '8940A' '89391A' '80.72.5' '87.53'
 '000' '22514#' '032' '8753' '5000A' '22500H#' '8703' '8709D' '8056Y'
 '80713**' '8069D' '225078C' '015' '22513' '80.73.1+' '21210' '89355A'
 '22502A#' '027' '8942' '8073F' '8853' '8864A' '8711' '22526A' '22504A'
 '8074' '025' '8863B' '8704' '8069B#' '27465B' '029' '8055A2' '8864B'
 '8702' '22507.8A-' '22507.8C2' '22507.8B-' '22511.57B' '047' '22511.56B'
 '22511.57C' '27155' '22511.57A' '22507.8C1' '225111A' '80.53' '6344C'
 '21113C' '573' '575' '4454A' '012' '28071' '8073B2A3' '8943' '80691'
 '1564340' '26707' '80.73B2.F' '8073B2F' '016' '22521' '8025B' '80691C*'
 '80691C**' '80561' '8072' '80691D' '8055A3' '576' '22511.1B' '22500J'
 '1564250' '80.54' '1564230' '8054H1' '578' '8073C' '005' '225001D'
 '8049#']

In [44]:
# Number of unique Violation Descriptions and displaying them 

print("Number of Unique Violation_Desc ", parking_citations.Violation_Desc.nunique())
print("\nUnique Violation_Desc: ", parking_citations.Violation_Desc.unique())

Number of Unique Violation_Desc  314

Unique Violation_Desc:  ['NO EVIDENCE OF REG' 'WHITE CURB' 'NO STOPPING/STANDING'
 'PARK IN GRID LOCK ZN' 'NO STOP/STAND AM' 'NO PARKING' 'DSPLYPLATE A'
 '5204' 'RED ZONE' 'METER EXPIRED' 'NO STOP/STAND PM' '4000A'
 'PARKING AREA' '22500B' '22522' 'EXPIRED TAGS' 'PRIVATE PROPERTY'
 'EXCEED TIME LMT' 'HANDICAP/CROSS HATCH' 'RED CURB' '22500H'
 'HANDICAP/NO DP ID' '22502A' 'NO PARK/STREET CLEAN' '5200' '22500E'
 'STNDNG IN ALLEY' '22500F' 'PREF PARKING' 'DISPLAY OF TABS'
 '18 IN. CURB/2 WAY' 'NO STOPPING/ANTI-GRI' 'NO STOP/STANDING'
 'DP- RO NOT PRESENT' 'DISABLED PARKING/NO' 'EXCEED 72HRS-ST'
 'DISPLAY OF PLATES' 'NO STOP/STAND' 'BLOCKING DRIVEWAY' 'FIRE HYDRANT'
 'STANDNG IN ALLEY' 'COMM VEH OVER TIME L' 'PREFERENTIAL PARKING'
 'METER EXP.' 'WHITE ZONE' 'OUTSIDE LINES/METER' 'PARKED IN BUS ZONE'
 'DOUBLE PARKING' 'OFF STR/OVERTIME/MTR' 'YELLOW ZONE'
 'PARKED OVER TIME LIM' 'BLK BIKE PATH OR LAN' 'PARKED ON SIDEWALK'
 'STOP/STAND PROHIBIT' 'CITY PARK/PROHIB' 'OVNIGHT PRK W/OUT PE'
 'PARKING/FRONT YARD' '18 IN/CURB/COMM VEH' 'GREEN ZONE'
 '18 IN. CURB/1 WAY' 'WITHIN INTERSECTION' 'RESTRICTED TAXI ZONE'
 'DISABLED PARKING/CRO' 'SAFETY ZONE/CURB' 'CARSHARE PARKING'
 'PARKED IN CROSSWALK' 'TIME LIMIT/CITY LOT' 'PARKED IN FIRE LANE'
 'OFF STR MTR/OUT LINE' 'DP-BLKNG ACCESS RAMP' '225078' '22500I'
 'EXCEED 72 HOURS' 'PARK FIRE LANE' '2251157A' '22514'
 'COMM TRAILER/22 FT.' '3 FT. SIDEWALK RAMP' 'DISABLED PARKING/OBS'
 'PK OVERSIZ' 'HAZARDOUS AREA' '2251157B' '2251157C' 'HANDICAP/ON LINE'
 'BLOCK HANDICAP ACCES' 'WRG SD/NOT PRL' 'DSPLYPLATE B'
 'ABAND VEH/HIGHWAY' 'DP-REFUSE ID' 'DISABLED PARKING/BOU' '22502E'
 'PK OVR PNTD LNS' '22500A' 'PARKING/FRONT YARD 1' '80581'
 'ILGL EXT OF TM' 'PKD OVER TIME LIMIT' 'PK-15FT FIRE ST'
 'WRG VEH REGISTR' 'PK IN PROH AREA' 'PK OUTSD SPACE' 'HANDICPD/BLOCKING'
 'NO PK BET 1-3AM' 'TEMPORARY NO PARKING' 'COMVEH RES/OV TM LMT' '22502'
 'COMVEH RES/OV TM B-2' 'COMVEH RES/OV TM C-3' 'PK OVERSIZED 3RD'
 'OVERSIZED VEHICLE PA' 'CLEANING VEH/STREET' 'LEFT SIDE OF ROADWAY'
 'REPAIRING VEH/STREET' 'CATERING VIOLATION' 'NO COIN DEP IN METER'
 'PUBLIC GROUNDS' 'YELLOW CURB' 'PRKG PUBL GRNDS' "VEH/LOAD OVR 6' HIGH"
 '5201F' 'RED FLAG DAY' 'BLOCKING INTERSECTIO' 'UNATT/MOTOR ON' '21113A'
 'DP-ALTERED' 'AUDIBLE ALARM' 'PKD IN/ON PARKWAY' '8755'
 'NO PARKING BETWEEN P' 'PARKING OUTSIDE OF S' 'PARKING/FRONT YARD 2'
 '22523A' 'PARKING PROHIB' 'RESTRCTD ZONES' 'PARKING OUTSIDE PARK'
 'IN PARK AFT HRS' 'DP-SUBPLATE' 'SIGN POSTED - NO PAR' 'PK OVR 2 SPACES'
 'PK TRAILER' '22500C' 'RESTRICTED ZONE' 'STORING VEH/ON STR'
 'PK OVERSIZED 1ST' 'PK OVERSIZED 2ND' 'PARKED ON BRIDGE' '8755*'
 'DISABLED PERSON' 'STANDING IN ALLEY' 'PK BYND TM LMTS' '8755**'
 'PARKING UNHITCHED TR' 'ADVERTISING ON VEH' '22500D' 'FOR SALE SIGN'
 'MISUSE/DP PRIVILEGE' 'PARK RESTRCD' 'LOAD/UNLOAD ONLY'
 'R/PRIV PARKING AREA' 'PARK-PSTD AREAS' '2251157' 'PARK LOT - STRT/ALY'
 'PERIOD OF DISPLAY' 'OBSTR EXCAVATN' 'POSITION OF PLATES' '4464'
 '6FT OF RR TRACK' 'ABAND VEH/PUB/PRIV' 'PK ON PRIV ST' 'METER OFFENSE'
 'DEF WINDSHIELD' 'PARKING UNDESIGATED' 'FR FORGN JURIS'
 'STATE HIGHWAY PARKNG' 'PK OTSD PSTD AR' 'NO PARK STRT CLEAN' 'ANGLE PKD'
 '4000' 'OUTSIDE MARKER' 'STOP/STAND PROHB' 'PK OUTSD PK STL'
 'MOB BILBD ADV DISP' '17104h' '5201A' '17104c' '22523B' '8753'
 'SPEC. PLATE NOT DISP' 'PARALLEL PK RQD' 'LOADING ZONES'
 'PARKING/FRONT YARD 3' "TRAILER   6' HIGH" 'HANDICPD/ON LINE' '22500J'
 'TOW TRUCK/UNAUTH' 'BICYCLE PARKING' 'FAIL DEP COIN' '22517'
 'MORE 18-CURB' 'VIO-PERM/PARK' 'RV-OVERNIGHT' 'BLK INT PROHIB'
 'UNINCORP AREA' '22515' 'TM LMT EXCEEDED' 'BALD TIRES' '22521'
 '30FT W/IN INTSC' 'OFF STREET/OVERTIME' 'PK NR FIRE HYDR' '8056A1'
 '8606B' 'COMM VEH OVER TIME LIMIT' 'PARKED OVER TIME LIMIT'
 'DISABLED PARKING/NO DP ID' 'DISABLED PARKING/CROSS HATCH'
 'NO STOPPING/ANTI-GRIDLOCK ZONE' 'BLK BIKE PATH OR LANE'
 'DISABLED PARKING/OBSTRUCT ACCESS' '8056E' '5200A1'
 'NO PARKING BETWEEN POSTED HOURS' 'PARKING OUTSIDE PARKING STALLS'
 'SIGN POSTED - NO PARKING' '5002' 'FUEL CAP REQ'
 'DISABLED PARKING/BOUNDARIES' 'PARKED IN ELEC VEHICLE SPACE'
 'PARKED IN PARKWAY' 'BLOCKING INTERSECTION' 'COMMERCIAL - UNDESIG'
 '21113C' '5204A1' '22507A' '225111A' '80691O' 'RGSTR CARD RQD'
 'OVERSIZED VEHICLE PARKING TOPHAM ST' '22658A' '40001A' '5200F' '22520E'
 '8066' '22500G' '5201B' '5202A' '5200H' '22502C' '8939B' '6344K'
 'FRONT BUMP REQ' '6344' '22502B' 'CATERING/W/I 200 FT' '26706' '40001B1'
 'SIGN PSTD-NO PK' '5201C' '2251175A' '4462' '8049A' '26708A1'
 'PARK IN XWALK' 'PK TRLR-PUBL AR' 'PK VEH SALE/RNT' 'DEFECT WIPERS'
 '806910' '80694A' '5204F' '8939B1' '6344B14A' '80661' '22500E1' '5204C'
 '225002A' '22502B2' '8501B' '22500K' 'ON RR TRACK/7.5 FT' '22502A2'
 'PARK NEAR EMERG VEH' '22515A' '225022' '40001' '225078BC' 'PK TRAILER 2'
 'PK TRAILER 3' 'PSGR LOADING ZN' '22502AE' '22500' '5200AB' '225078A2'
 '8606A' '5201G' 'PARK RED FLAG DAY' '807141A' 'TRAILER NOT ATTACHED'
 'W/I 25 FT. CROSSWALK' '5200E1' '5204B' '80703' '8069' '501B' '52011C'
 '8069H' 'PRK IN ELEC VEH SPACE' 'PARKNG IN TUNNEL'
 'OVERSIZED VEHICLE PARKING' 'OVERNIGHT PARKING' 'PK/PARALL/CURB' '8054'
 'CATERING/CENTER CITY' '21461' 'DOUBLE PARK']

In [27]:
# Number of unique Locations where citations swere issued

print("Number of Unique Location: ", parking_citations.Location.nunique())

Number of Unique Location:  1420245

In [47]:
# Locations where highest number of citations have been issued

parking_citations.Location.value_counts()

1301 ELECTRIC AVE             8654
11600 SAN VICENTE BL          6305
101 LARCHMONT BL N            5770
2377 MIDVALE AVE              5366
1600 IRVING TABOR CT          5049
1235 FIGUEROA PL              4619
5901 98TH ST W                4575
7000 HAWTHORN AVE             4450
3101 GLENDALE BL              4173
4301 TUJUNGA AV               4132
12100 VENTURA BL              4130
100 LARCHMONT BL N            4000
11601 SAN VICENTE BL          3850
4300 TUJUNGA AV               3801
11100 WEDDINGTON ST           3691
200 LARCHMONT BL N            3689
2110 CORINTH AVE              3584
11001 MCCORMICK ST            3550
1400 HOPE ST S                3436
11900 SAN VICENTE BL          3352
11700 SAN VICENTE BL          3350
6041 CADILLAC AVE             3280
1152 LEMOYNE ST               3221
12300 VENTURA BL              3191
12101 VENTURA BL              3101
2200 CORINTH AV               3007
1665 SYCAMORE AVE N           2909
10800 WEYBURN AV              2861
1600 SCHRADER BL              2781
5000 CASPAR AV                2761
                              ...
20552 LONDELIUS ST               1
5501 ASCOT AVENUE                1
17623 BROMLEY STREET             1
11049 WEDDINGTON STREET          1
223 AVE 39                       1
13220 MERCER STREET              1
806 WEST 10TH STREET             1
2205 SOUTH BURNSIDE AVENUE       1
1423 WEST PICO BOULEVARD         1
2228 112TH ST E                  1
9415 STANFORD AVE S              1
811 92ND ST W                    1
14050 ENADIA WAY                 1
717 YALE ST                      1
235 SOUTH CATALINA STREET        1
21523 HARVARD BOULEVARD          1
5752 VESPER AVENUE               1
2650 15TH ST W                   1
3333 W 4TH ST                    1
115 W CENTURY BL                 1
809 5TH ST W                     1
1511 187TH PL                    1
1161 E 11TH ST                   1
11820 JEFFERSON BLVD W           1
7101 SAN PEDRO ST S              1
1600 BLK OF 113TH ST             1
403 N HARVARD BLVD N             1
7540 JAMIESON AVE                1
732 S GRANDVIEW ST               1
1624 BLAKE AVE                   1
Name: Location, Length: 1420245, dtype: int64

In [48]:
# Number of unique Routes:

print("Number of Unique Route: ", parking_citations.Route.nunique())

Number of Unique Route:  8111

In [50]:
# Routes where highest number of citations have been issued.
df = parking_citations.groupby('Route')['Route'].count().sort_values(ascending=False).reset_index(name='count')
df.head()

# Route 600,500 & 402 has expectedely highest number of parking citations.

   Route   count
0  00600  470694
1  00500  330671
2  00402  159896
3  00401  155166
4  00403  122984

In [51]:
parking_citations.head(5)

,Ticket_Number,Issue_Date,Issue_Time,RP_State_Plate,Plate_Expiry_Date,Make,Body_Style,Color,Location,Route,...,Violation_Desc,Fine_Amount,Latitude,Longitude,Year_Issue_Date,Month_Issue_Date,Day_Issue_Date,DayOfWeek_Issue_Date,NLatitude,NLongitude
0,1103341116,2015-12-21,1251.0,CA,200304.0,HOND,PA,GY,13147 WELBY WAY,01521,...,NO EVIDENCE OF REG,50.0,NaN,NaN,2015,12,21,0,NaN,NaN
1,1103700150,2015-12-21,1435.0,CA,201512.0,GMC,VN,WH,525 S MAIN ST,1C51,...,NO EVIDENCE OF REG,50.0,NaN,NaN,2015,12,21,0,NaN,NaN
2,1104803000,2015-12-21,2055.0,CA,201503.0,NISS,PA,BK,200 WORLD WAY,2R2,...,WHITE CURB,58.0,6439997.9,1802686.4,2015,12,21,0,-118.401151,33.945212
4,1105461453,2015-09-15,115.0,CA,200316.0,CHEV,PA,BK,GEORGIA ST/OLYMPIC,1FB70,...,NO STOPPING/STANDING,93.0,NaN,NaN,2015,9,15,1,NaN,NaN
5,1106226590,2015-09-15,19.0,CA,201507.0,CHEV,VN,GY,SAN PEDRO S/O BOYD,1A35W,...,NO EVIDENCE OF REG,50.0,NaN,NaN,2015,9,15,1,NaN,NaN

In [52]:
# Removing rows with missing data
parking_citations = parking_citations.dropna(how="any")
parking_citations.count()   # 6729089 rows after lat/long cleaning

Ticket_Number           6729089
Issue_Date              6729089
Issue_Time              6729089
RP_State_Plate          6729089
Plate_Expiry_Date       6729089
Make                    6729089
Body_Style              6729089
Color                   6729089
Location                6729089
Route                   6729089
Agency                  6729089
Violation_Code          6729089
Violation_Desc          6729089
Fine_Amount             6729089
Latitude                6729089
Longitude               6729089
Year_Issue_Date         6729089
Month_Issue_Date        6729089
Day_Issue_Date          6729089
DayOfWeek_Issue_Date    6729089
NLatitude               6729089
NLongitude              6729089
dtype: int64

In [31]:
parking_citations.to_csv("data/parking_citations_cleaned.csv")
print("Cleaned Parking Citation file successfully written to parking_citations_cleaned.csv ")

Cleaned Parking Citation file successfully written to parking_citations_cleaned.csv